################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/obj/Debug
/.vs/Algorithms/v14
/.Algorithms.sln.un~
/Algorithms.sln~
