################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/obj/Debug
/.vs/Algorithms/v14
/.Algorithms.sln.un~
/Algorithms.sln~
/Algorithms/bin/Debug
/Examples/KMeans2D/bin/Debug
/Examples/KMeans2D/obj/Debug
/Algorithms/bin/Release
/Algorithms/obj/Release
/Examples/KMeans2D/bin/Release
/Examples/KMeans2D/obj/Release
